.border {
    border: 1px solid;
}
.ezis {
    font-size: 2.5em;
}
.wadah {
    width: 1000px;
    margin: auto;
}

li:hover{
    background-color: greenyellow;
}

p::first-letter {
    color: #0099ff;
    font-size: xx-large;
  }

.warna{
    background-image: linear-gradient(to right, olivedrab, yellow);
    color: aliceblue;
}

.display{
    display: inline-block;
    padding: 1%;
}

img {
    width: 100px;
}

.card {
    width: 20%;
    padding: 5%;
    box-sizing: border-box;
}

.horizontal { 
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.rata{
    text-align: center;
}