.border {
    border: 1px solid;
}
.ezis {
    font-size: 2.5em;
}
.wadah {
    width: 1000px;
    margin: auto;
}

.warna{
    background-image: linear-gradient(to right, olivedrab, yellow);
    color: aliceblue;
}

img {
    width: 100px;
}

.card {
    width: 20%;
}

.horizontal { 
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 10%;
}

.rata{
    text-align: center;
}